body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    background-color: rgb(255, 255, 255);
}

body {
    font-family: 'Poppins', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    line-height: 1rem;
}



/* Change the background and text color when text is selected */
::selection {
    background-color: #dfdfdf; 
    color: #000000; 
}
/* For Webkit browsers (Chrome, Safari, etc.), you can target them specifically */
::-webkit-selection {
    background-color: #dfdfdf;
    color: #000000;
}
/* For Firefox */
::-moz-selection {
    background-color: #dfdfdf;
    color: #000000;
}

/* Signature */
#hao-lee {
    position: absolute;
    width: 3.5vh;
    margin: 25px;
    bottom: 0;
    z-index: 1000;
    opacity: 0.3;
    mix-blend-mode: multiply;
}



/* Tutorial */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#OverlayContent {
    background-color: white;
}



/* Link Style ---------------------------------------------- */
a {
    color: #585f5f !important;
    background-color: #dee1e4;
    text-decoration: none; 
    transition: background-color ease 0.3s;
}
a:hover {
    color: black !important;
    background-color: white;
}
a:visited {
    color: #8f9a9a;
}
a:active {
    color: #1900ff; 
}
#visualizationArchive a, #colloquiumPoster a, #guerillaUrbanism a {
    color: #585f5f !important;
}
#visualizationArchive a, #colloquiumPoster a, #guerillaUrbanism a:visited {
    color: #585f5f !important;
}


/* Sidebar ----------------------------------------- */
#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(15px); 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    transform: translateX(0);
    transition: transform 0.3s ease;
    border-right: 1.5px solid #bfcdcd; 
}
#sidebar.collapsed {
    transform: translateX(-100%);
}

#toggleButton {
    position: absolute;
    left: 360px;
    top: 28px;
    padding: 8px 0px;
    cursor: pointer;
    z-index: 1001; 
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px); 
    border: 1.5px solid #bfcdcd; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: left 0.3s ease; 
}
#toggleIcon {
    fill: transparent; 
    transition: transform 0.3s ease;
    color: #585f5f;
    stroke-width: 3px; 
    stroke-linecap: "flat"; 
    stroke-linejoin: "round";
}

#logo {
    display: block;
    width: 50%; 
    height: auto;
    padding-top: 26px;
    padding-left: 30px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

/* Version History---------------------------------------- */
.clickable-text {
    cursor: pointer;
    color: #bfcdcd; 
    display: block; 
    z-index: 2000;
}
.clickable-text:hover {
    text-decoration: underline;
    color: #a1b3b3; 
}
#versionHistoryContent {
    margin-right: 25px;
}



/* Popup modals----------------------------------------------------- */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    z-index: 2000;
    overflow: hidden;
    animation: slideDown 0.5s ease forwards; 
}
.popup.hidden {
    animation: slideUp 0.5s ease forwards; 
}
.popup-content {
    width: 100%; 
    height: 100vh;
    max-height: 100%;
    padding: 25px 40px 0px 40px;
    background-color: white;
    border-bottom: 1.5px solid #bfcdcd;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #bfcdcd transparent;
    transform: translateY(-150%); 
    animation: slideDownContent 0.5s ease forwards; 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start; 
}
#guidePopup {
    height: 100%;
    z-index: 8888;
}
#guidePopup-content {
    height: 100%;
}
.intro {
    margin-top: 10vh;
    width: 100%;
    height: auto;
    margin: 0 auto;
    mix-blend-mode: multiply;
}

.options-popup-content {
    position: absolute;
    top: 50px; /* Adjust based on where you want it to appear */
    left: 400px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Hidden by default */
    z-index: 1010;
}

.popup-button {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-weight: 500;
}

.popup-button:hover {
    background-color: #f0f0f0;
}

.popup-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}




/* Slide-down animation for popup content----------------------- */
@keyframes slideDownContent {
    from {
        transform: translateY(-150%);
    }
    to {
        transform: translateY(0);
    }
}
/* Slide-up animation for popup content-------------------------- */
.popup.hidden .popup-content {
    animation: slideUpContent 0.5s ease forwards;
}
@keyframes slideUpContent {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-150%);
    }
}
p-popup {
    font-size: 0.8rem;
    position: absolute;
    color: #8f9a9a;
}




/* Data Diagram */
#dataDiagram {
    width: 100%;
}


/* Navigation--------------------------------------------------- */
.nav-button {
    display: inline-block; 
    padding: 3px 10px; 
    margin: 3px; 
    color: #8f9a9a; 
    cursor: pointer; 
    text-align: center; 
    transition: color 0.3s ease; 
    font-weight: 700;
    font-size: 0.9rem;
    position: relative; 
    background-color: transparent; 
}
.nav-button:nth-child(2) {
    margin-left: 25px; 
}

.nav-button {
    position: relative;
}

.nav-button:hover, #optionsIcon:hover {
    color: black;
}

.nav-button.active {
    color: black; 
}

.nav-button::after {
    content: '';
    position: absolute;
    bottom: -5.25px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease; 
    opacity: 0;
}
.nav-button.active::after {
    opacity: 1;
    width: calc(100% - 10px); 
}
.active-line {
    height: 3px; 
    background-color: black; 
    transition: left 0.3s ease, width 0.3s ease; 
    position: absolute;
    bottom: -5px; 
    opacity: 1; 
}
.active-line.hidden {
    opacity: 0; 
}


#optionsIcon {
    display: inline-block;
    vertical-align: middle; 
    margin-left: 14px;
    cursor: pointer; 
    color: #8f9a9a;
    font-size: 1.1rem;
    transform: translateY(-1px); 
    transition: color 0.3s ease, transform 0.3s ease;
}

#optionsIcon:hover {
    transform: translateY(-1px) rotate(144deg);
}



.navButtonAContainer,
.navButtonBContainer,
.navButtonCContainer {
    margin: 0 auto;
    width: 290px;
    justify-content: space-between;
    padding: 0; 
    display: flex; 
    margin-left: 35px; 
}


.nav-button-2 {
    flex:1;
    display: inline;
    padding: 5px 18.5px;
    padding-bottom: 3px;
    margin: 0;
    margin-right: -1.5px;
    color: #8f9a9a;
    cursor: pointer; 
    text-align: center;
    transition: background-color 0.3s ease; 
    font-weight: 600;
    font-size: 0.8rem;
    position: relative;
    background-color: rgba(186, 197, 197, 0.3); 
    border: 1.5px solid #bfcdcd; 
}
#legendButton, #dataButton, #pastButton {
    border-top-left-radius: 6px; 
}
#mapsButton, #refButton, #futureButton {
    border-top-right-radius: 6px; 
}
.nav-button-2:hover {
    background-color: transparent
}
.nav-button-2.active {
    background-color: transparent;
    border-bottom: transparent;
    z-index: 1005;
    position: relative;
}



.sidebar-line {
    width: 100%;
    border: none;
    height: 1.5px;
    background-color: #bfcdcd;
    margin: 0 auto;

}
.sidebar-line-2a {
    position: absolute;
    width: 35px;
    border: none;
    height: 1.5px;
    background-color: #bfcdcd;
    transform: translateY(-9.5px);
    text-align:left;
    margin-left: 0;
}
.sidebar-line-2b {
    position: absolute;
    width: 35px;
    border: none;
    height: 1.5px;
    background-color: #bfcdcd;
    transform: translateY(-9.5px) translateX(325px);
    text-align:left;
    margin-left: 0;
}




/* Content------------------------------------------------ */
.content-text {
    opacity: 1; 
    transition: opacity 0.5s ease; 
    width: 290px; 
    margin-left: 35px; 
    margin-top: 30px;
}
.content-text h2{
    color: #585f5f;
    font-weight: regular;
    font-size: 0.9rem;
    font-weight: 600;
}
.content-text p {
    color: #8f9a9a;
    font-size: 0.8rem;
    font-weight: 400;
}
h3 {
    font-size: 0.9rem;
    color: #585f5f;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}
.scrollable-text-about p, 
.scrollable-text-about a, 
.scrollable-text-stories p, 
.scrollable-text-stories a, 
.scrollable-text-timeline p, 
.scrollable-text-timeline a {
    margin-top: 0;
    margin-bottom: 2rem;
}
sup {
    font-size: 0.8em;
    vertical-align: super; 
    background-color: #cfd7d7;
    font-weight: 500;
    border-radius: 10px;
    padding: 1px 4px;
    margin-left: auto;
    display: inline-block;
    text-align: right;
}


#sortable-list {
    list-style-type: none; 
    padding-left: 0;        
}
.layer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    background-color: rgba(186, 197, 197, 0.2);
    border: #bfcdcd solid 1.5px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 4px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.85rem;
    transition: background-color 0.3s ease;
    cursor: all-scroll;
}
.layer-drag {
    display: inline-block;
    color: #bfcdcd;
    font-size: 1.1rem;
    flex-shrink: 0;
}
.show-toggle {
    height: 24px;
    margin-left: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.show-toggle img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}
.show-toggle.active img {
    opacity: 1;
}







/* Info icons----------------------------------------- */
.info-link {
    cursor: pointer;
}
#roseInfo {
    margin-left: 238px;
    margin-top: 185px;
    transition: 0.2s ease;
    cursor: pointer; 
    font-size: 0.9rem;
    font-weight: 500;
    position: absolute;
    color: #8f9a9a;
}
#roseInfo:hover {
    filter: brightness(0) saturate(100%) invert(0%);
}


/* Rose Charts------------------------------------------------ */
#RoseChart {
    width: 120px;
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    position: absolute;
}
#RoseChartRefA, #RoseChartRefB, #RoseChartRefC {
    width: 180px;
    margin: 0 auto;
    margin-top: 145px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    background-color: transparent !important;
}
.popup-slider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.popupCloseButton {
    position: absolute;
    z-index: 9999;
    right: 13px;
    top: 18px;
    transform: translateX(-50%);
}
#collapsePopup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
    color: #bfcdcd;
    background-color: transparent;
    border: none;
    transition: color 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    margin-top: auto;
}

#collapsePopup:hover {
    color: black;
}
.popup-slide {
    flex: 0 0 100%; 
    display: none; 
    flex-direction: column;
    position: relative;
    transition: opacity 0.5s ease;
}
.popup-slide.active {
    display: flex; 
}

.popup-arrow {
    position: absolute;
    top: 53%;
    font-size: 1.5rem;
    color: #bfcdcd;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 20px;
    z-index: 10;
}

#prevSlide {
    left: 10px;
}

#nextSlide {
    right: 10px;
}


/* Toggle Buttons------------------------------------------- */
#layerControls {
    position: absolute;
    margin-top: 220px;
    width: 285px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

#toggleSteel,
#toggleBrick,
#toggleGlass,
#toggleConcrete,
#toggleStone {
    flex-grow: 1;
    color: #585f5f; 
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    padding-right: 0;
    border: 0px; 
    border-radius: 0px;
    font-weight: 600;
    font-size: 0.7rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transform: translateX(40px);
    box-sizing: border-box; 
    line-height: 1.5; 
    transition: padding-top 0.3s ease, padding-bottom 0.3s ease,margin 0.3s ease; 
}
#toggleSteel {
    background-color: #ec49fd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#toggleBrick {
    background-color: #ff785a;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#toggleGlass {
    background-color: #49fcd7;
}
#toggleConcrete {
    background-color: #ddfa47;
}
#toggleStone {
    background-color: #60bdff;
}
#layerControls button:hover {
    padding-top: 4px;
    padding-bottom: 3px;
    margin-top: -5px;
    color: black;
}
#layerControls button.inactive {
    background-color: transparent;
}


/* Scroll Text------------------------------------------- */
.scrollable-text-about,
.scrollable-text-stories,
.scrollable-text-timeline,
.scrollable-text-c {
    width: 287px;
    margin-top: 15px;
    margin-left: 40px;
    overflow-y: auto;
    color: #8f9a9a;
    font-size: 0.8rem;
    scrollbar-width: thin;
    scrollbar-color: #bfcdcd transparent;
    border-bottom: 1.5px solid #e1e7e7;
    box-sizing: border-box; 
}
.scrollable-text-c {
    margin-top: 260px;
    border-top: 1.5px solid #e1e7e7;
}





/* Image popup----------------------------------------- */

#main-slider {
    margin-bottom: 20px;
}

#thumbnail-slider {
    margin-top: 10px;
}

.splide__slide img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.splide_track {
    height: 100%;
}
#thumbnail-slider .splide__slide img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#thumbnail-slider .splide__slide img:hover {
    transform: scale(1.1);
}





/* Ticker ------------------------------------------*/
.ticker-wrap {
    width: 100%;
    height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    background-color: #bfcdcd;
    display: flex;
    align-items: center;
    z-index: 9999;
}
.ticker-wrap:hover .ticker {
    animation-play-state: paused; 
}
.ticker {
    display: inline-block;
    animation: marquee 60s linear infinite;
}
.item-collection-1 {
    position: relative;
    left: 0;
    animation: swap 60s linear infinite;
}
.item {
    display: inline-block;
    padding: 0;
    font-size: 0.8rem;
    color: #585f5f;
    font-weight: 600;
}
.item a{
    background-color: transparent !important;
    color: #585f5f !important;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes swap {
    0%, 50% {
        left: 0%;
    }
    50.01%, 100% {
        left: 100%;
    }
}






/* Main Map Container --------------------------------------------*/
#mainMap {
    width: 100%;
    height: 100vh;
    background-color: #e1e4e4;
}
.leaflet-pane.leaflet-blur-pane {
    filter: blur(5px); 
}

/* .leaflet-circle-steel,
.leaflet-circle-brick,
.leaflet-circle-glass,
.leaflet-circle-concrete,
.leaflet-circle-stone {
    mix-blend-mode: hard-light;
} */

/* Leaflet popup */
.leaflet-popup {
    max-width: 300px; 
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5; 
}
.leaflet-popup-content {
    font-weight: semibold;
    font-size: 0.8rem; 
    color: #8f9a9a; 
}
.leaflet-popup-close-button {
    color: #ff0000;
    font-size: 16px; 
    padding: 5px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}
.leaflet-popup-close-button:hover {
    background-color: #ffebeb;
    cursor: pointer;
}

/* Leaflet zoom controls */
.leaflet-control {
    z-index: 1001;
}
.leaflet-control-zoom {
    position: fixed;
    top: 90%; 
    right: 25px; 
    transform: translateY(-50%); 
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    background: transparent;
    border: none !important;
    font-weight: 800;
}
.leaflet-control-zoom a {
    box-shadow: none; 
    outline: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}






/* Dark mode-----------------------------------------------*/
.darkmode {
    filter: invert(1); 
}

